In [6]:
import pandas as pd

In [14]:
df=pd.read_csv('data/print_serial.csv')
volume=pd.read_csv('data/print_serials_vol.csv')

In [15]:
df.head()

,35,RECORD #(BIBLIO),BCODE3,ISN,GOVT DOC #
0,(OCoLC)ocm02244225,b10093898,-,0360-2370,NaN
1,(WaOLN)rye0023087,b10227969,-,"1857431219 (2001),""0258-0661""",NaN
2,NaN,b10275824,-,"052880510X (1991),""0528810588 (1992)"",""0528844...",NaN
3,"1016549 v.1 4125768,""1016550 v.2 4125769"",""(Wa...",b10382239,-,0888203845 (set),NaN
4,(WaOLN)rye0046338,b10454901,-,0252-8088,NaN

In [16]:
volume.head()

      rec_no                                         Volume
0  b10093898                                             ""
1  b10227969                                             ""
2  b10275824                          "2005 to the present"
3  b10382239                          "Current issue only."
4  b10454901  "v.1 to v.4  v.6 no.2  1987 to v.8 #2  1989."

In [75]:
#df=df.iloc[:,:6]
#df.head()

,35,RECORD #(BIBLIO),TITLE,BCODE3,ISN,GOVT DOC #
0,NaN,b10054716,Life-span development and behavior.,-,0124318061 (v.6),NaN
1,"0794332,""(WaOLN)rye0005710""",b10055952,Annals of child development : a research annual.,-,"0892322942 (v.1 1984),""1853020818 (v.7 1990)""",NaN
2,"0894887,""(WaOLN)rye0008703""",b10085385,Annual report - YWCA of Canada.,-,NaN,NaN
3,(WaOLN)rye0009202,b10090290,Annual report - Salvation Army (Canada). Metro...,-,NaN,NaN
4,(OCoLC)ocm02244225,b10093898,Studies in eighteenth-century culture.,-,0360-2370,NaN

In [17]:
df3=pd.merge(df,volume,how='left',left_on="RECORD #(BIBLIO)",right_on="rec_no")

In [74]:
# nah, doesn't work 
#combine(df):
  #  vol=[]
    #i=len(df.columns)
    #for row in df:
     #   for col in range(6,308):
      #      vol=vol.append(df.iloc[row,col])
    #return vol

SyntaxError: invalid syntax (<ipython-input-74-98a3b2595b6c>, line 2)

In [18]:
df3.sample(10)

,35,RECORD #(BIBLIO),BCODE3,ISN,GOVT DOC #,rec_no,Volume
3273,"000000798231,""(OCoLC)ocl74754613""",b17003763,-,0707-0837,NaN,b17003763,"""no.1 (June 1978) - v.3:no.3 (Sept. 1980)"""
3174,ocm21493375,b16948415,-,0380-8661,NaN,b16948415,"""v.77:no.15 (Aug. 1962) - v.78:no.6 (June/July..."
2652,"(OCoLC)29419319,""(DNLM)SR0082846(s)"",""LCMARC/A...",b13270709,x,1073-4929,NaN,b13270709,""""""
3403,ocm04323257,b17131698,-,0199-5510 1,NaN,b17131698,"""v.7:no.6 (June 1980) - v.12:no.1 (Jan./Feb. 1..."
1243,"11224266,""(OCoLC)ocm01223658""",b12237760,-,0146-6283 0009-0360,NaN,b12237760,"""v.35:no.1 (Jan. 1990)- v.61:no.6 (Nov/Dec 2016)"""
421,"000012527792,""(OCoLC)ocm28482380""",b12223566,-,1193-9974 0008-2937,NaN,b12223566,"""v.68:no.1 (fall 1992) - v.73:no.4 (summer 1998)"""
1149,NaN,b1223638x,-,0705-2855,NaN,b1223638x,"""v.16 1989 to no.121 2003"""
2046,"ocm34931242,""(OCoLC)34931242""",b12371555,-,1055-3886,NaN,b12371555,"""Sept./Oct. 1995-Mar./Apr. 1997"""
2452,"(OCoLC)1588454,""LCMARC/ABC-8677/ACQ5""",b12694137,-,0047-2263,NaN,b12694137,"""1.1 29- 1- 1995-"""
3789,NaN,b17965615,-,NaN,NaN,b17965615,""""""

In [42]:
df3.sample(10)

,35,RECORD #(BIBLIO),BCODE3,ISN,GOVT DOC #,rec_no,"BLIO)"",""VOLUME"""
39797,"ocn934618529,""(OCoLC)934618529""",b26637649,-,"9780521709552 (paperback),""0521709555 (paperba...",NaN,b26637649,""""""
19212,17203761,b24127644,-,"9781433812040,""1433812045""",NaN,b24127644,""""""
47676,"ocn897576579,""(OCoLC)897576579 (OCoLC)907205349""",b27414036,-,"9781771082631 (hardback),""1771082631 (hardback)""",NaN,b27414036,""""""
62461,"on1035844669,""(OCoLC)1035844669 (OCoLC)1078882...",b28759345,-,"9781925432534 hardback,""192543253X hardcover""",NaN,b28759345,""""""
7668,"ocn727477085,""(OCoLC)727477085""",b21075116,-,"9781847209375,""1847209378""",NaN,b21075116,""""""
11340,"ocn711946392,""(OCoLC)711946392""",b21187320,-,"1841130524,""9781841130521""",NaN,b21187320,""""""
13930,"ocm13578797,""(OCoLC)13578797""",b21963903,-,NaN,NaN,b21963903,""""""
59976,"ocm05366035,""(OCoLC)5366035""",b28589038,-,NaN,NaN,b28589038,""""""
6581,"ocn150626423,""(OCoLC)150626423""",b20963634,-,"9781552901533,""155290153X""",NaN,b20963634,""""""
28792,"CaBVAS006754904,""(OCoLC)15700381"",""ms""",b25091864,-,066051060X,CS92-911,b25091864,""""""

In [19]:
df3.to_csv("raw/print_serial.txt",sep="\t")